/* File written by Shadowdara */

* {
    all: unset;
}

:root {
    --box1-color: rgb(216, 216, 216); /* middle box */
    --box2-color: rgb(235, 235, 235); /* left side bar box */
    --bg-color: white;
    --text-color: black;
    --link-color: blue;
    --linktransform-color: #ff0000;
}

head {
    display: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    background-color: var(--bg-color);
    color: var(--text-color);
}

div {
    display: block;
    unicode-bidi: isolate;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h3 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

b {
    font-weight: bolder;
}

i {
    font-style: italic;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

code {
    font-family: monospace;
    background-color: var(--box1-color);
    padding: 1px 4px;
    font-size: 90%;
    display: inline-block;
    border-radius: 10px;

    margin: 2px
    /* margin hier noch einfügen!!! */

}

.column {
    display: flex;
}

aside {
    margin-left: 0;
    width: 15%;
    background-color: var(--box1-color);
    position: fixed;
    height: 100vh;
}

aside ul {
    margin-top: 30%;
    list-style-type: none;
    padding-inline-start: 20px;
}

aside ul li {
    line-height: 50px;
    font-size: 20px;
}

.aside {
    margin-left: 0;
    margin-right: 5%;
    width: 180px;
}

main {
    width: 50%;
    margin-bottom: 3%;
    margin-top: 3.5%;
    margin-left: 5%;
}

.new_block {
    font-size: 20px;
    background-color: var(--box2-color);
    line-height: 1.8;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.nav h2 {
    margin: 0;
}

.nav .ul1 {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
}

.nav .ul2 {
    margin-top: 0;
    list-style-type: disc;
    padding: 0;
    margin-left: 10px;
}

.nav li {
    margin: 0 15px;
}

.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 17px;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: var(--linktransform-color);
}

button {
    margin-bottom: 15px;
}

/* UPDATE MOBILE VIEWPORT! */

@media (max-width:1280px) {
    aside {
        width: 20%;
    }
    main {
        width: 70%;
    }
}

@media (max-width:768px) {
    aside {
        width: 22%;
    }
    .aside {
        width: 180px;
        margin-right: 2%;
    }
    main {
        width: 80%;
        margin-left: 0%;
    }
}

@media (max-width:480px) {
    aside {
        width: 100%;
        position: relative;
        height: auto;
        padding: 5%;
        margin-bottom: 30px;
        background-color: rgb(216, 216, 216);
    }
    .column {
        display: contents;
        width: 100%;
    }
    .aside {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    main {
        margin: 0;
        margin-bottom: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 3.5%;
        padding-left: 3.5%;
        width: 93%;
    }
}
